.margin-top {
    margin: 50px 0px;
}

td,
th {
    vertical-align: middle !important;
    text-align: center !important;
}

svg {
   max-height: 150px;
  
}

td:first-of-type,
td:first-of-type > div {
    height: 200px;
    width: 250px;
}


